@font-face {
    font-family: 'Byron';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/sohne-regular-compressed.woff2') format('woff2');
}

/* @font-face {
    font-family: 'Duospace';
    font-style: normal;
    font-weight: 400;
    src: url('../public/fonts/iAWriterDuospace-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Duospace';
    font-style: italic;
    font-weight: 400;
    src: url('../public/fonts/iAWriterDuospace-Italic.woff2') format('woff2');
} */
